.left-section{
	width: 100%;
	padding: 5px;
	height: 500px;
	background: black;
}


#chart2{
	background: blue;
	height: 500px;
}


.btn-control{
	margin-right: 5px !important;
}

.navbar-color{
	background: #444444 !important;
}